<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-aqua">
    <header class="navbar navbar-fixed top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <%= link_to "home", '#' %>
            <%= link_to "users", '#' %>
            <%= link_to "help", '#' %>
            <%= link_to "about", '#' %>
          </ul>
        </nav>
      </div>
    </header>  
    <%= yield %>
  </body>
</html>
